.container{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 251, 0);
    margin: 100px;
    /* transform: translate(40px,40px); */
    /* transform: translateX(50px); */
    /* transform: translateY(50px); */

    /* transform: scaleX(4);
    transform: scaleY(4); */


    /* transform: skewX(45deg); */
    /* transform: skew(20deg,30deg); */


    /* transform: rotate(45deg); */


    transform: matrix(1,);
         /* -,(skew y,x,)translate    */

}