/* .form-container {
  width: 350px;
  margin: 40px auto;
  padding: 20px;
  background: chartreuse;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
}

input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}

button {
  padding: 10px;
  color: black;   
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background:red;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(35deg, red, rgb(0, 60, 255) , rgb(255, 0, 0));
  margin: 0;
  padding: 0;
} */
