body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    display: flex;
    gap: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.choice {
    width: 120px;
    height: 120px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    object-fit: cover;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.box {
    text-align: center;
}

.display-img {
    width: 160px;
    height: 160px;
    border: 2px solid black;
    border-radius: 10px;
    object-fit: cover;
}

#checkBtn {
    padding: 10px 20px;
}

.right {
    display: flex;
    align-items: center;
}

.scoreboard {
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    background: wheat;
    font-size: 18px;
}
